{% extends 'base.html' %}
{% block content %}

<div class="modal-dialog">

    <div class="modal-content">
        <div class="modal-header"><a href="{% url 'reg_citytimezone' %}" class="btn btn-info">Register</a></div>
        <table border>
            <thead>
            <tr>
                <th>city</th>
                <th>time zone</th>
                <th>offset</th>
                <th>description</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% if cities %}
            {% for city in cities %}
            <tr>
                <td>{{city.city.name}}</td>
                <td>{{city.time_zone}}</td>
                <td>{{city.offset}}</td>
                <td>{{city.city.description}}</td>
                <td>
                    <a href="{% url 'cities_update' city.id %}" class="btn btn-success">Update</a>
                    <a href="{% url 'cities_del' city.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr></tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
