{% extends 'base.html' %}
{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class='modal-body' style="width:50px">
            <form method="post">
                {% csrf_token %}
                <div style="min-width:500px;">
                    <label>Create city:</label>
                    {{form.new_city}}
                </div>
                 <div style="min-width:500px;">
                    <label>Create city description:</label>
                    {{form.description}}
                </div>
                <div style="min-width:500px;">
                    <label>Chose timezone:</label>{{form.time_zone}}
                    <a href="{% url 'reg_timezone' %}" class="btn btn-default"><i style="font-size:24px" class="fa">&#xf196;</i></a>

                </div>
                <div style="min-width:500px;">
                    <label>Chose offset:</label>
                    {{form.offset}}
                </div>
                <div style="min-width:500px;">
                    <button class="btn btn-success">Save</button>
                    <a href="{% url 'cities' %}" class="btn btn-warning">Cancel</a>
                </div>

            </form>


        </div>
    </div>
</div>
{% endblock %}