{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <p>Assign student</p>
        </div>
        <div class='modal-body' style="width:50px">
            <form method="post">
                {% csrf_token %}
                {{form}}
                <div class="row" >
                        <div class="col-xs-5"><button class="btn btn-primary" style="margin:1px">Assign</button></div>
                         <div class="col-xs-5"><a href="{% url 'users' %}" class="btn btn-danger" style="margin:1px">
                             Cancel</a></div>
                </div>
</form>
        </div>
    </div>
</div>


{% endblock %}