{% extends 'base.html' %}
{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
        <form method="post">
            {% csrf_token %}
        <div class="modal-header"><p> Are you sure you want to delete?</p></div>
        <div class="modal-body">{{object}}</div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Yes, delete</button>
                <span>
                    <a href="{% url 'list_cat' %}" class="btn btn-success">Cancel</a>
                </span>
            </div>
            </form>
    </div>
</div>



{% endblock %}