{% extends 'base.html' %}
{% block content %}


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="list-category" data-toggle="tab" href="#home" role="tab"
           aria-controls="home" aria-selected="true">List Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="list_category" data-toggle="tab" href="#list" role="tab"
           aria-controls="profile" aria-selected="false">Flow</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="task_category" data-toggle="tab" href="#task" role="tab"
           aria-controls="profile" aria-selected="false">Task Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="bonus_category" data-toggle="tab" href="#bonus" role="tab"
           aria-controls="profile" aria-selected="false">Bonus Category</a>
    </li>
</ul>
<div class="tab-content profile-tab" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">List category</div>

                <table border>
                    <thead>

                    <tr>
                        <th>#</th>
                        <th>ListCategory</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                    {% for i in list_category %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.description}}</td>
                        <td>
                            <a href="{% url 'list_update' i.id %}" class="settings" title="Update"
                               data-toggle="tooltip">
                                <i class="material-icons restart_alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="profile-tab">
        <div class="modal-dialog modal-lg">
            <a href="{% url 'flow_create' %}">Create</a>
            <div class="modal-content">
                <div class="modal-header">Flow</div>
                <table border>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Flow code</th>
                        <th>Name</th>
                        <th>description</th>
                        <th>valid_from</th>
                        <th>valid_to</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if Flows %}
                        {% for flow in Flows %}
                        <tr>
                            <td>{{flow.id}}</td>
                            <td>{{flow.code}}</td>
                            <td>{{flow.name}}</td>
                            <td>{{flow.description}}</td>
                            <td>{{flow.valid_from|date:"Y/m/d"}}</td>
                            <td>{{flow.valid_to|date:"Y/m/d"}}</td>
                            <td>
                                <a href="{% url 'flow_update' flow.id %}" class="settings" title="Update"
                                   data-toggle="tooltip">
                                    <i class="material-icons restart_alt"></i>
                                </a>
                                <a href="{% url 'flow_delete' flow.id %}" class="settings" title="Delete"
                                   data-toggle="tooltip">
                                    <i class="material-icons delete"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No data</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="task" role="tabpanel" aria-labelledby="profile-tab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Task Category</div>
                <table border>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Abbreviation</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if Task_categories %}
                        {% for task_category in Task_categories %}
                        <tr>
                            <td>{{task_category.id}}</td>
                            <td>{{task_category.abbreviation}}</td>
                            <td>{{task_category.description}}</td>
                            <td>
                                <a href="{% url 'task_category_update' task_category.id %}" class="settings" title="Update"
                                   data-toggle="tooltip">
                                    <i class="material-icons restart_alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No data</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="bonus" role="tabpanel" aria-labelledby="profile-tab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Bonus Category</div>
                <table border>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Abbreviation</th>
                        <th>description</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if Bonus_categories %}
                        {% for Bonus_category in Bonus_categories %}
                        <tr>
                            <td>{{Bonus_category.id}}</td>
                            <td>{{Bonus_category.abbreviation}}</td>
                            <td>{{Bonus_category.description}}</td>
                            <td>
                                <a href="{% url 'bonus_category_update' Bonus_category.id %}" class="settings" title="Update"
                                   data-toggle="tooltip">
                                    <i class="material-icons restart_alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No data</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}