{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin:6px;">
    <div class="col-xs-6" style="margin:6px;"><a href="{% url 'flow_create' %}" class="btn btn-primary">Create</a></div>

</div>
<div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Flow</div>
                <table border>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Flow code</th>
                        <th>Name</th>
                        <th>description</th>
                        <th>valid_from</th>
                        <th>valid_to</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if flows %}
                        {% for flow in flows %}
                        <tr>
                            <td>{{flow.id}}</td>
                            <td>{{flow.code}}</td>
                            <td>{{flow.name}}</td>
                            <td>{{flow.description}}</td>
                            <td>{{flow.valid_from|date:"Y/m/d"}}</td>
                            <td>{{flow.valid_to|date:"Y/m/d"}}</td>
                            <td>
                                <a href="{% url 'flow_update' flow.id %}" class="settings" title="Update"
                                   data-toggle="tooltip">
                                    <i class="material-icons restart_alt"></i>
                                </a>
                                <a href="{% url 'flow_delete' flow.id %}" class="settings" title="Delete"
                                   data-toggle="tooltip">
                                    <i class="material-icons delete"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No data</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}