{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin:6px;">
    <div class="col-xs-6" style="margin:6px;"><a href="{% url 'create_level' %}" class="btn btn-primary">Create</a></div>
</div>
<div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Level</div>

                <table border>
                    <thead>

                    <tr>
                        <th>#</th>
                        <th>Flow</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Started</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                    {% for level in object_list %}
                    <tr>
                        <td>{{level.id}}</td>
                        <td>{{level.name}}</td>
                        <td>{{level.description}}</td>
                        <td>{{level.started}}</td>
                        <td>
                            <a href="{% url 'update_level' level.id %}" class="settings" title="Update"
                               data-toggle="tooltip">
                                <i class="material-icons restart_alt"></i>
                            </a>
                            <a href="{% url 'flow_delete' flow.id %}" class="settings" title="Delete"
                                   data-toggle="tooltip">
                                    <i class="material-icons delete"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td>No data</td></tr>

                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}