{% extends 'base.html' %}
{% block content %}
<p> LIST </p>
<!--<div class="modal-dialog modal-lg">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">Categories</div>-->

<!--                <table border>-->
<!--                    <thead>-->

<!--                    <tr>-->
<!--                        <th>#</th>-->
<!--                        <th>Category name</th>-->
<!--                        <th>Description</th>-->
<!--                        <th>Action</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    {% if list_category %}-->
<!--                    {% for i in list_category %}-->
<!--                    <tr>-->
<!--                        <td>{{i.id}}</td>-->
<!--                        <td>{{i.name}}</td>-->
<!--                        <td>{{i.description}}</td>-->
<!--                        <td>-->
<!--                            <a href="{% url 'list_update' i.id %}" class="settings" title="Update"-->
<!--                               data-toggle="tooltip">-->
<!--                                <i class="material-icons restart_alt"></i>-->
<!--                            </a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    {% endfor %}-->
<!--                    {% endif %}-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->

{% endblock %}