{% extends 'base.html' %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    {{message}}
  {% endfor %}
{% endif %}<br>
<div>
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="{% url 'login' %}">
                {% csrf_token %}
				<div class="modal-header">
					<h4 class="modal-title">Log in</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
                        <label for="username"></label>
						 <input name="username" id="username" placeholder="email" required>
					</div>
					<div class="form-group">
                        <label for="password"></label>
                        <input type="password" name="password" id="password" placeholder="password" required>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="submit">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
