<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {% if user.is_authenticated %}
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
  <a class="navbar-brand" href="{% url 'base' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav mr-auto">
      {% if user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="/admin/">Dashboard</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="#">{{user}}: {{user.groups.first}}</a>
      </li>

      <li class="nav-item active">
      <li class="nav-item active">
        <a class="nav-link" href="https://gitlab.com/vir2lis/marrianos_martyno" target="_blank">Git lab</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Classificatory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'bonus_cat' %}">Bonus category</a>
          <a class="dropdown-item" href="{% url 'cities' %}">City</a>
          <a class="dropdown-item" href="{% url 'flow' %}">Flow</a>
          <a class="dropdown-item" href="#">List {To be upgraded}</a>
          <a class="dropdown-item" href="{% url 'list_cat' %}">List category</a>
          <a class="dropdown-item" href="{% url 'level' %}">Level</a>
          <a class="dropdown-item" href="{% url 'payment_status' %}">Payment status</a>
          <a class="dropdown-item" href="{% url 'student_status' %}">Student status</a>
          <a class="dropdown-item" href="{% url 'task_category' %}">Task category</a>
          <a class="dropdown-item" href="{% url 'users' %}">users</a>
        </div>
      </li>
    </ul>
      </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">logout</a>
      </li>
    </ul>
  </div>
  {% else %}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">login</a>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>


