{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin:6px;">
    <div class="col-xs-6" style="margin:6px;"><a href="{% url 'payment_create' %}" class="btn btn-primary">Create</a></div>

</div>
<div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Payment</div>
                <table border>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Document name</th>
                        <th>User</th>
                        <th>Payment status</th>
                        <th>Amount</th>
                        <th>Due date</th>
                        <th>Paid date</th>
                        <th>Debt</th>
                        <th>Comment</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if payments %}
                        {% for payment in payments %}
                        <tr>
                            <td>{{payment.doc_name}}</td>
                            <td>{{payment.user}}</td>
                            <td>{{payment.payment_status}}</td>
                            <td>{{payment.paid_amount}}</td>
                            <td>{{payment.date_pay_due|date:"%Y-%m-%d %H:%M"}}</td>
                            <td>{{payment.date_paid|date:"%Y-%m-%d %H:%M"}}</td>
                            <td>{{payment.amount_debt}}</td>
                            <td>{{payment.comment}}</td>
                            <td>
                                <a href="" class="settings" title="Update"
                                   data-toggle="tooltip">
                                    <i class="material-icons restart_alt"></i>
                                </a>
                                <a href="" class="settings" title="Delete"
                                   data-toggle="tooltip">
                                    <i class="material-icons delete"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No data</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}