{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}
<div>
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <p>User Registration</p>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form}}
                    </div>

                <button type="submit" class="btn btn-success">Register</button>
                <a href="{% url 'login' %}" class="btn btn-danger">Cancel</a>
            </form>
                </div>
        </div>
    </div>
</div>

{% endblock %}