{% extends 'base.html' %}
{% block content %}
<a href="{% url 'create_student_status' %}" class="btn btn-primary">Create</a>
<div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">{{title}}</div>
                <table border>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if categories %}
                    {% for category in categories %}
                    <tr>
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td>{{category.description}}</td>
                        <td>
                            <a href="{% url update category.id %}" class="settings" title="Update"
                               data-toggle="tooltip">
                                <i class="material-icons restart_alt"></i>
                            </a>
                            <a href="{% url 'delete_student_status' category.id %}" class="settings" title="Delete"
                                   data-toggle="tooltip">
                                    <i class="material-icons delete"></i>
                                </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}