{% extends 'base.html' %}
{% block content %}
<div id="tableModal">
<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <p>Table</p>
    </div>
  <div class="modal-body">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% if perms.people_app.view_city %}
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      {% endif %}
      <td>
        {% if perms.people_app.change_city %}
          <a href="#" class="btn btn-primary">Update</a>
        {% endif %}
        {% if perms.people_app.add_city %}
          <a href="#" class="btn btn-warning">Create</a>
        {% endif %}
        {% if perms.people_app.delete_city %}
          <a href="#" class="btn btn-danger">Delete</a>
        {% endif %}
      </td>
    </tr>

  </tbody>
</table>
  </div>
    </div>
</div>
</div>
{% endblock %}