{% extends 'base.html' %}
{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="list-category" data-toggle="tab" href="#users" role="tab"
           aria-controls="users" aria-selected="true">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="list_category" data-toggle="tab" href="#list" role="tab"
           aria-controls="profile" aria-selected="false">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="task_category" data-toggle="tab" href="#Coach" role="tab"
           aria-controls="profile" aria-selected="false">Coach</a>
    </li>
</ul>
<div class="tab-content profile-tab" id="myTabContent">
    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="home-tab">
        <div class="row" style="margin:6px;">
            <a href="{% url 'registration' %}" class="btn btn-primary">Create</a>
        </div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Users</div>
                <table border>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Account_name</th>
                        <th>Email</th>
                        <th>Group</th>
                        <th>Assign</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                        {% for user in object_list %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td><a href="{% url 'update_user' user.id %}">{{user.account_name}}</a></td>
                            <td>{{user.email}}</td>
                            <td>{{user.groups.first}}</td>
                            <td>
                                <a href="{% url 'create_student' user.id %}" class="btn btn-outline-dark">Student</a>
                                <a href="#" class="btn btn-outline-dark">Coach</a>
                            </td>
                            <td>
                                <a href="{% url 'delete_user' user.id %}" class="settings" title="Delete"
                                   data-toggle="tooltip">
                                    <i class="material-icons delete"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No data</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row" style="margin:6px;">
            <a href="#" class="btn btn-primary">Create</a>
        </div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Student</div>
                <table border>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Coach</th>
                        <th>Flow</th>
                        <th>Status</th>
                        <th>Level</th>
                        <th>created</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if Students %}
                        {% for student in Students %}
                        <tr>
                            <td>{{student.id}}</td>
                            <td>{{student}}</td>
                            <td>{{student.coach}}</td>
                            <td>{{student.flow.code}}</td>
                            <td>{{student.student_status}}</td>
                            <td>{{student.level}}</td>
                            <td>{{student.creation_date}}</td>
                            <td>
                                <a href="#" class="settings" title="Update"
                                   data-toggle="tooltip">
                                    <i class="material-icons restart_alt"></i>
                                </a>
                                <a href="#" class="settings" title="Delete"
                                   data-toggle="tooltip">
                                    <i class="material-icons delete"></i>
                                </a>
                            </td>
                        </tr>
                {% endfor %}
            </tr>
    </tbody>
</table>
        {% else %}
        </tr>
    </tbody>
</table>
            <h4 style="text-align: center;">
                <strong>No data Found</strong>
            </h4>

        {% endif %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="Coach" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row" style="margin:6px;">
            <a href="#" class="btn btn-primary">Create</a>
        </div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Coach</div>
                <table border>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Flow</th>
                        <th>User</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if Coaches %}
                        {% for coach in Coaches %}
                        <tr>
                            <td>{{coach.id}}</td>
                            <td>{{coach.flow}}</td>
                            <td>{{coach}}</td>
                            <td>
                                <a href="#" class="settings" title="Update"
                                   data-toggle="tooltip">
                                    <i class="material-icons restart_alt"></i>
                                </a>
                                <a href="#" class="settings" title="Delete"
                                   data-toggle="tooltip">
                                    <i class="material-icons delete"></i>
                                </a>
                            </td>
                        </tr>
                {% endfor %}
            </tr>
    </tbody>
</table>
        {% else %}
        </tr>
    </tbody>
</table>
            <h4 style="text-align: center;">
                <strong>No data Found</strong>
            </h4>

        {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}