{% extends 'base.html' %}
{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class='modal-body' style="width:50px">
            <form method="post" >
                {% csrf_token %}
                {{form}}
                <div class="container" style="width:250px;">
                    <div class="row" >
                        <div class="col-xs-5"><button class="btn btn-primary" style="margin:1px">save</button></div>
                         <div class="col-xs-5"><a href="{% url 'base' %}" class="btn btn-danger" style="margin:1px">
                             Cancel</a></div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
{% endblock %}