{% extends 'base.html' %}
{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"> {{title}}

        </div>
        <div class='modal-body' style="width:50px">
            <form method="post" >
                {% csrf_token %}
                <input type="text" disabled value="{{form.instance.name}}"/>
                {{form}}<br><br>
                <div class="container" style="width:250px;">
                    <div class="row" >
                        <div class="col-xs-5"><button class="btn btn-primary" style="margin:1px">Update</button></div>
                         <div class="col-xs-5"><a href="{% url cancel %}" class="btn btn-danger" style="margin:1px">
                             Cancel</a></div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
{% endblock %}